<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.BoardMapper">
    <select id="findAll" resultType="Board">
        select * from board;
    </select>

    <select id="findById" resultType="BoardDetailResDto">
        select * from board where board_id = #{id}
    </select>

    <insert id="insert" parameterType="BoardDetailResDto">
        insert into
            board (title, content,reg_date,recruit_type, recruit_cnt, duration, contact, start_date)
        VALUES (#{title}, #{content}, #{reg_date},#{recruit_type},#{recruit_cnt},#{duration},#{contact},#{start_date})
    </insert>
</mapper>