<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.BoardMapper">
    <select id="findAll" resultType="Board">
        select * from board;
    </select>

    <select id="findById" resultType="BoardDetailResDto">
        select * from board where board_id = #{id}
    </select>

<!--    mysql join? member의 pk를 join하면 member의 종류가 나오게 할 수 있다. -->
    <insert id="insert" parameterType="BoardDetailResDto">
        insert into
            board (board_id ,title, content,reg_date,recruit_type, recruit_cnt, duration, contact, start_date)
        VALUES (#{boardId},#{title}, #{content}, #{regDate},#{recruitType},#{recruitCnt},#{duration},#{contact},#{startDate})
    </insert>
</mapper>