<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>회원가입 페이지</h1>
        <form th:action="@{/member/join}" method="post">
            <label for="username">MEMBER ID</label>
            <input type="text" name="username" id="username" placeholder="ex) codej1022" class="form-control"><br/>
            <label for="nickcname">NICKNAME</label>
            <input type="text" name="nickname" id="nickcname" placeholder="ex) codej" class="form-control"><br/>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="ex) 1234" class="form-control"><br/>
            <label for="email">EMAIL</label>
            <input type="email" name="email" id="email" placeholder="ex) codeJ@gmail.com" class="form-control"><br/>
            <button type="submit" class="btn btn-primary">회원가입 </button>
        </form>
    </div>
</body>
</html>