<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.BoardMapper">
    <sql id="boardCommonColumns">
        b.board_id id,
        b.title,
        m.nickname writer,
        m.profile_image writerProfile,
        b.recruit_type,
        b.recruit_cnt,
        b.duration,
        b.progress_type,
        b.start_date
    </sql>

    <select id="findById" resultType="BoardDto">
        select
        <include refid="boardCommonColumns"/>,
        b.content,
        b.reg_date,
        b.contact_type,
        b.contact
        from board b
        join member m on m.member_id = b.member_id
        where b.board_id = #{id}
    </select>

    <select id="findByIdAndMemberId" resultType="BoardDto">
        select
        <include refid="boardCommonColumns"/>,
        b.content,
        b.reg_date,
        b.contact_type,
        b.contact,
        b.recruit_status
        from board b
        join member m on m.member_id = b.member_id
        where b.board_id = #{id} and b.member_id = #{memberId}
    </select>

    <select id="findAll" resultType="BoardDto">
        select distinct
        <include refid="boardCommonColumns"/>,
        b.view_cnt,
        b.recruit_status
        from board b
        join member m on m.member_id = b.member_id
        join board_skill bs on b.board_id = bs.board_id
        join skill s on bs.skill_id = s.skill_id
        <where>
            <if test="skillTypes != null">(
                <foreach collection="skillTypes" item="skill" separator="or">
                    skill_type = #{skill}
                </foreach>
                )
            </if>
            <if test="recruitType != null">
                and recruit_type = #{recruitType}
            </if>
            <if test="recruitStatus != null">
                and recruit_status = #{recruitStatus}
            </if>
        </where>
    </select>

    <update id="updateViewCnt">
        update
            board
        set view_cnt = view_cnt + 1
        where board_id = #{id}
    </update>

    <insert id="insertBoard" parameterType="BoardDto">
        insert into board (member_id, title, content, recruit_type, recruit_cnt, progress_type, duration, contact_type, contact,
        start_date)
        values (#{memberId}, #{title}, #{content}, #{recruitType}, #{recruitCnt},#{progressType}, #{duration}, #{contactType},
        #{contact}, #{startDate})
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--    <select id="findAllBySkillTypes" resultType="BoardDto">-->
    <!--        select distinct b.board_id id,-->
    <!--        title,-->
    <!--        view_cnt,-->
    <!--        recruit_status,-->
    <!--        recruit_type,-->
    <!--        recruit_cnt,-->
    <!--        duration,-->
    <!--        start_date,-->
    <!--        progress_type-->
    <!--        from board b-->
    <!--        join board_skill bs on b.board_id = bs.board_id-->
    <!--        join skill s on bs.skill_id = s.skill_id-->
    <!--        <if test="skillTypes != null">-->
    <!--            where-->
    <!--            <foreach collection="skillTypes" item="skill" separator="or">-->
    <!--                skill_type = #{skill}-->
    <!--            </foreach>-->
    <!--        </if>-->
    <!--    </select>-->

    <update id="updateRecruitStatus">
        update board
        set recruit_status=#{status}
        where board_id = #{id}
    </update>

    <update id="update" parameterType="BoardDto">
        update board b
        set b.title         = #{board.title},
            b.content       = #{board.content},
            b.recruit_type  = #{board.recruitType},
            b.recruit_cnt   = #{board.recruitCnt},
            b.progress_type = #{board.progressType},
            b.duration      = #{board.duration},
            b.start_date    = #{board.startDate},
            b.contact_type  = #{board.contactType},
            b.contact       = #{board.contact}
            where board_id = #{id}
    </update>

    <select id="selectAllBoard" resultType="boardDto">
        select board_id,title,view_cnt,reg_date
        from board;
    </select>

    <update id="calScore">
        UPDATE board
        SET score = ((DATE(reg_date)- DATE(CURRENT_TIMESTAMP)) * 0.001) + (view_cnt * 0.5) + (comment_cnt * 1.5)
        WHERE recruit_status = 'Y';
    </update>

    <select id="selectRecommendedBoard" resultType="RecommendedBoardDto">
        select board_id,title
        from board
        WHERE recruit_status = 'Y'
        order by score desc,reg_date desc
        limit 0,10;
    </select>

    <update id="updateCommentCnt">
        update board
        set comment_cnt = (
            SELECT count(comment_id)
            FROM comment
            where board.board_id = comment.board_id);
    </update>

    <select id="findAllByMemberId" resultType="BoardDto">
        select
        <include refid="boardCommonColumns"/>,
        b.view_cnt
        from board b
        join member m on b.member_id = m.member_id
        where b.member_id = #{memberId}
    </select>
</mapper>