<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.CommentMapper">
    <select id="findAllCommentByBoardId" resultType="CommentDto">
        select
               comment_id,
               board_id,
               content,
               reg_date
        from comment
        where board_id = #{id} and c_depth = false
        order by reg_date desc, comment_id desc;
    </select>

    <select id="findAllBigCommentByBoardIdAndCGroup" resultType="BigComment">
        select
            comment_id,
            board_id,
            content,
            reg_date
        from comment
        where board_id = #{boardId} and c_depth = true and c_group = #{cGroup}
        order by reg_date desc, comment_id desc;
    </select>

    <select id="CountByBoardId" resultType="int">
        select
            count(comment_id)
        from comment
        where board_id = #{id}
    </select>

    <insert id="save" parameterType="CommentDto">
        insert into comment (board_id, content, c_depth, c_group)
        values (#{boardId}, #{content}, #{cDepth}, #{cGroup});
    </insert>

    <update id="update" parameterType="CommentDto">
        update comment
        set content = #{comment.content}
        where comment_id = #{comment.commentId}
    </update>

    <select id="CountBigComments" resultType="int">
        select
            count(comment_id)
        from comment
        where board_id = #{id} and c_depth = true and c_group = #{cGroup};
    </select>
</mapper>