<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.CommentMapper">
    <sql id="commentCommonColumns">
        c.comment_id,
        c.board_id,
        m.nickname writer,
        c.content,
        c.reg_date
    </sql>

    <select id="findAllCommentByBoardId" resultType="CommentResDto">
        select
        m.profile_image,m.nickname,c.content,c.reg_date,c.board_id,c.comment_id
        from comment c
        join member m on m.member_id = c.member_id
        where c.board_id = #{boardId}
        order by c.reg_date, c.comment_id;
    </select>

    <select id="CountByBoardId" resultType="Long">
        select count(comment_id)
        from comment
        where board_id = #{id}
    </select>

    <insert id="save" parameterType="CommentReqDto">
        insert into comment (board_id, member_id, content,reg_date,mod_date)
        values (#{commentDto.boardId}, #{memberId}, #{commentDto.content}, now(),null);
    </insert>

    <update id="update" parameterType="CommentUpdateDto">
        update comment
        set content = #{commentDto.content},
            mod_date = now()
        where comment_id = #{commentDto.commentId} and comment.board_id = #{commentDto.boardId} and comment.member_id = #{memberId}
    </update>

    <select id="findById" resultType="CommentDto">
        select
        <include refid="commentCommonColumns"/>
        from comment c
        join member m on m.member_id = c.member_id
        where c.comment_id = #{id};
    </select>

    <delete id="delete" parameterType="Long">
        delete from comment
        where comment_id = #{commentId}

    </delete>
</mapper>