<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamteam.hola.dao.MemberMapper">


    <sql id="memberColumns">
        member_id,
        username,
        nickname,
        password,
        email,
        profile_image,
        role,
        reg_date,
        mod_date,
        withdrawal_yn,
        withdrawal_date,
        social_type
    </sql>

    <insert id="signup" parameterType="MemberDto">
        INSERT INTO member(
        <include refid="memberColumns"/>
        )VALUES(
            #{memberId},
            #{username},
            #{nickname},
            #{password},
            #{email},
            #{profileImage},
            #{role},
            now(),
            null,
            'N',
            null,
            IFNULL(#{socialType},null)
        );
    </insert>

    <select id="findByUsername" parameterType="String" resultType="MemberDto">
        SELECT
        <include refid="memberColumns"/>
        FROM
        member
        WHERE
        username=#{username}
    </select>

    <select id="findByEmail" parameterType="String" resultType="MemberDto">
        SELECT
            username,nickname,password,email,profile_image,reg_date
        FROM
            member
        WHERE
            email=#{email}
            and
            withdrawal_yn='N'
    </select>

<!--    <insert id="signup" parameterType="MemberDto">-->
<!--        insert into member (username, nickname, password, email, profile_image, role)-->
<!--        values (#{username}, #{nickname}, #{password}, #{email}, #{profileImage}, #{role})-->
<!--    </insert>-->

    <select id="findById" resultType="MemberDto">
        select
        <include refid="memberColumns"/>
        from member
        where member_id = #{id}
            and
            withdrawal_yn = 'N'

    </select>

    <update id="update" parameterType="MemberDto">
        update member
        set
        nickname=#{nickname},
        password=#{password},
        profile_image=#{profileImage}
        where member_id = #{memberId}
    </update>

</mapper>

