<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamteam.hola.dao.MemberMapper">


    <sql id="memberColumns">
        member_id,
        nickname,
        password,
        email,
        profile_image,
        role,
        reg_date,
        mod_date,
        withdrawal_yn,
        withdrawal_date,
        social_type
    </sql>

    <insert id="signup" parameterType="MemberDto">
        INSERT INTO member(
        <include refid="memberColumns"/>
        )VALUES(
            #{memberId},
            #{nickname},
            #{password},
            #{email},
            #{profileImage},
            'ROLE_USER',
            now(),
            null,
            'N',
            null,
            IFNULL(#{socialType},null)
        );
    </insert>

    <select id="findByEmail" parameterType="String" resultType="MemberDto">
        SELECT
            member_id,nickname,password,email,profile_image,reg_date,role
        FROM
            member
        WHERE
            email=#{email}
            and
            withdrawal_yn='N'
    </select>

<!--    <insert id="signup" parameterType="MemberDto">-->
<!--        insert into member (, nickname, password, email, profile_image, role)-->
<!--        values (#{}, #{nickname}, #{password}, #{email}, #{profileImage}, #{role})-->
<!--    </insert>-->

    <select id="findById" resultType="MemberDto">
        select
            member_id,
            nickname,
            password,
            email,
            profile_image,
            role,
            reg_date,
            mod_date,
            withdrawal_yn,
            withdrawal_date,
            social_type
        from member
        where member_id = #{id}
            and
            withdrawal_yn = 'N'

    </select>

    <update id="update" parameterType="MemberDto">
        update member
        set
        nickname=#{nickname},
        mod_date=now()
        where member_id = #{memberId} and withdrawal_yn = 'N'
    </update>

    <update id="delete" parameterType="Long">
        update member
        set
        withdrawal_yn = 'Y',
        withdrawal_date=now()
        where member_id= #{id}
    </update>

    <update id="updateProfile" parameterType="MemberDto">
        update member
        set
            profile_image=#{profileImage},
            mod_date=now()
        where member_id = #{memberId} and withdrawal_yn = 'N'
    </update>

    <update id="deleteProfile" parameterType="MemberDto">
        update member
        set
            profile_image=#{profileImage},
            mod_date=now()
        where member_id = #{memberId} and withdrawal_yn = 'N'
    </update>

</mapper>

