<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamteam.hola.dao.SkillMapper">
    <select id="findAllByBoardId" resultType="com.dreamteam.hola.domain.Skill">
        select s.skill_type
        from board_skill bs
            join board b
                on bs.board_id = b.board_id
            join skill s
                on bs.skill_id = s.skill_id
        where b.board_id = #{id};
    </select>

    <select id="skillTypeToId" parameterType="String" resultType="long">
        select skill_id
        from skill
        where skill_type = #{skillType}
    </select>
</mapper>