<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.dreamteam.hola.dto.BoardDto" alias="BoardDto"/>
        <typeAlias type="com.dreamteam.hola.dto.CommentDto" alias="CommentDto"/>
        <typeAlias type="com.dreamteam.hola.dto.MemberDto" alias="MemberDto"/>
        <typeAlias type="com.dreamteam.hola.domain.BigComment" alias="BigComment"/>
        <typeAlias type="com.dreamteam.hola.dto.RecommendedBoardDto" alias="RecommendedBoardDto" />
        <typeAlias type="com.dreamteam.hola.dto.Heart" alias="Heart"/>
    </typeAliases>
</configuration>

