<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.dreamteam.hola.dto.board.BoardReqDto" alias="BoardReqDto"/>
        <typeAlias type="com.dreamteam.hola.dto.board.BoardDetailDto" alias="BoardDetailDto"/>
        <typeAlias type="com.dreamteam.hola.dto.board.BoardListDto" alias="BoardListDto"/>
        <typeAlias type="com.dreamteam.hola.dto.board.BoardFilterDto" alias="BoardFilterDto"/>
        <typeAlias type="com.dreamteam.hola.dto.board.BoardHeartDto" alias="BoardHeartDto"/>
        <typeAlias type="com.dreamteam.hola.dto.comment.CommentDto" alias="CommentDto"/>
        <typeAlias type="com.dreamteam.hola.dto.comment.CommentReqDto" alias="CommentReqDto"/>
        <typeAlias type="com.dreamteam.hola.dto.member.MemberDto" alias="MemberDto"/>
        <typeAlias type="com.dreamteam.hola.dto.member.MemberSignInDto" alias="MemberSignInDto"/>
        <typeAlias type="com.dreamteam.hola.dto.BoardSkillDto" alias="BoardSkillDto"/>
        <typeAlias type="com.dreamteam.hola.dto.SkillDto" alias="SkillDto"/>
        <typeAlias type="com.dreamteam.hola.dto.board.RecommendedBoardDto" alias="RecommendedBoardDto" />
        <typeAlias type="com.dreamteam.hola.dto.Heart" alias="Heart"/>
    </typeAliases>
</configuration>

